* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign-up 
.video{
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url('/images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.projects {
  background-image: url('/images/img-1.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('/images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.video {
  background-image: url('/images/field.webp');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.doc-container{
  background: content-box linear-gradient(rgb(193, 147, 197), rgb(123,198, 204));
  width: 100%;
  /* height:2000px; */

  background-repeat:repeat-y;
}

.doc-container-project{
  margin-top: 0px;
  background: content-box linear-gradient(rgb(193, 147, 197), rgb(123,198, 204));
  width: 100%;
  /* height:2000px; */

  background-repeat:repeat-y;
}
.image-holder{
  height:80vh;
  width:90%;
  padding-top:5%;
  align-items: center;
  display: flex;
  justify-content: center;
  
 
}

.holder{
  
  width: 90%;
  margin-top: 60px;
  margin-left: 85px;
  border-radius: 20px;
  display: flex;
  margin-bottom: 70px;

}


.holder-project{
  
  width: 90%;
  margin-top: 0px;
  margin-left: 85px;
  border-radius: 20px;
  display: flex;
  margin-bottom: 0px;
  flex-direction:column;
  padding-top: 0px;

}
.blackbar{
  width: 100%;
  height: 10px;
  /* background:content-box linear-gradient(rgb(189, 195, 199), rgb(44,62, 80));  */
  background-color: rgba(134, 237, 255, 0.578);
  margin-top: 110px;
}

.textspace{
  
  
  width: 40%;
  
  margin-right: 70px;
  
}

.textspace-project{
  
  
  width: 40%;
  
  margin-right: 70px;
  
}

#pageimg{
  width: 600px;
  height: 400px;
  justify-content: center;
  align-items: center;
  flex:0.7;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 50px;
 
}

.slider{
  display: flex;
  justify-content: center;
  align-items: center;
 
  width: 100%;
  background: content-box linear-gradient(rgb(189, 195, 199), rgb(44,62, 80));
  border-radius: 15px;
  margin-left: 150px;

 
}
.image{
  width:100%;
  height:70vh;
  border-radius: 10px;
  
}

.right-arrow{
  position: absolute;
  top: 50%;
  right: 170px;
 
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  
}
.left-arrow{
  position: absolute;
  top: 50%;
  left: 170px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide{
  opacity: 0;
  transition-duration: 1s;
  }

  .slide.active{
    opacity:1;
    transition-duration: 2s;
    transform:scale(1.08);
  }

  .spacer{
    height: 200px;
    width: 100%;
    background-color:gray;
  }

  .spacer-project{
    height: 10px;
    width: 100%;
    background-color:gray;
  }

  .listholder{
    
    display: flex;
    height: 500px;
    width: 70%;
    margin-left: 210px;
    margin-top: 150px;
  }

  .list{
    
    padding-top: 15px;
    padding-left: 30px;
    flex-direction: row;
    margin-left: 20px;
    font-family: fantasy;
    font-size: large;
  }

  .address{
    max-width: 200px;
  }

  .project-image{
    height: 500px;
    width: 400px;
    margin-left: 85px;
    border-radius: 15px;
  }

  .image-holder-project{
    padding-top: 25px;
    display: flex;
    flex-direction: row;
  }
  
  .blank{
    height:100px
  }

  .png-img{
    margin-top: 0px;
    width: 100%;
  }